body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #242424;
}

.dropdown-menu {
    box-shadow: 0px 1px 2px #b9b8b85c;
    padding: 0px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none !important;
}

a:hover {
    color: #faa32f;
}

button {
    outline: none !important;
}

img {
    border: 0 none;
    outline: none !important;
    max-width: 100%;
    height: auto;
}

.form-control,
.custom-file .custom-file-label,
.select2-container .select2-selection--single,
select,
select option {
    box-shadow: none !important;
    outline: none !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1C1449;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-item {
    padding: 0.55rem 1.5rem;
}

.top-header .navbar {
    padding: 15px 30px;
}

.top-header .navbar .navbar-nav {
    align-items: center;
}

.navbar-toggler-icon {
    width: auto;
    height: auto;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

ul.navbar-nav li a {
    font-weight: 600;
    color: #141449;
    transition: 0.3s;
    font-size: 15px;
}

ul.navbar-nav li a:hover {
    color: #faa32f;
    transition: 0.3s;
}

ul.navbar-nav li a.dropdown-item:hover {
    background: 0 none;
    ;
}

ul.navbar-nav li {
    margin: 0 10px;
}

span.hide {
    display: none;
}

.btn_col {
    background-color: #faa32f;
    color: #fff;
    border: 0;
    line-height: normal;
    width: 135px;
    height: 45px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    -webkit-box-shadow: 0 13px 22px -6px #bbb7b7d6;
    -moz-box-shadow: 0 13px 22px -6px #bbb7b7d6;
    box-shadow: 0 13px 22px -6px #bbb7b7d6;
}

section.banner_sec {
    background: url("../images/banner_img.png");
    padding: 100px 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.affiliates-form .col-lg-auto.bottom-button {
    min-width: auto;
}

.affiliates-form .button.btn_col {
    margin-top: 32px;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 25px
}

.affiliates-form label {
    font-size: 14px;
    color: #fff;
}

.affiliates-form .form-control,
.affiliates-form .custom-select {
    padding: 11px 15px;
    font-size: 14px;
    color: #141449;
}

.banner_text p {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 0;
}

select.form-control:not([size]):not([multiple]) {
    height: auto !important;
}

.banner_text {
    max-width: 800px;
    margin: 0 auto;
    line-height: 28px;
}

.section_margin {
    margin-top: 60px;
}

.bd_padd {
    background: #FAB252;
    width: 18px;
    border-radius: 50%;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    color: #fff;
}

.top-header a.button_roll_link {
    font-size: 15px;
}

.top-header a.button_roll_link:hover {
    text-transform: none;
}

a.button_roll_link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: -3px;
}


/********************steps form*****************/

.multisteps-form {
    background: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    border-radius: 10px;
    padding: 35px;
    margin-top: 60px;
}

.multisteps-form__content {
    padding: 50px 0 40px;
    border-bottom: 1px dashed #ced4da;
}

.multisteps-form h2 {
    text-align: center;
}

.multisteps-form h4 {
    color: #FAB252;
    margin-bottom: 20px;
}

.multisteps-form h4 span.small-text {
    color: #999;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
}

.multisteps-form h4 span.small-text span {
    color: #ff0000;
}

.multisteps-form h6 {
    color: #FAB252;
    font-weight: 700;
}

.dropdown-menu.datepicker-dropdown {
    width: auto;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6;
}

.multisteps-form .multi-select-box button.btn {
    width: 100%;
    position: relative;
}

.multisteps-form .multi-select-box .filter-option {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
}

.multisteps-form .multi-select-box .form-control.custom-select {
    background-image: none;
    padding-right: 15px;
}

.multisteps-form .multi-select-box select.form-control.custom-select {
    height: 135px;
}

.multisteps-form .multi-select-box .dropdown-menu.open.show {
    width: calc(100% - 30px);
    border: 0 none !important;
    box-shadow: none !important;
    margin: 0;
    border-radius: 0 !important;
    background: none !important;
}

.multisteps-form .multi-select-box .dropdown-menu.open.show ul.dropdown-menu.inner {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
}

.multisteps-form .multi-select-box .dropdown-menu.open.show ul.dropdown-menu.inner li {
    font-size: 13px;
    color: #212e4a;
    line-height: 1.5;
}

.multisteps-form .multi-select-box .dropdown-menu.open.show ul.dropdown-menu.inner li a {
    color: #212e4a;
    display: block;
    cursor: pointer;
}

label {
    color: #212e4a;
    font-weight: 600;
    font-size: 13px;
}

label span.redstar {
    color: #ff0000;
}

.form-control {
    height: auto;
    padding: 10px 15px;
    font-size: 13px;
    color: #242424;
    box-shadow: 0px 6px 18px #ddddddd4;
}

textarea.form-control {
    height: 160px;
}

.multisteps-form .important-border .form-control {
    border-color: #ced4da !important;
}

.form-control.custom-select {
    padding-right: 25px;
}

.custom-file {
    height: auto;
    cursor: pointer !important;
}

.custom-file .custom-file-label {
    height: auto;
    padding: 10px 15px;
    font-weight: normal;
    color: #242424;
    box-shadow: 0px 6px 18px #ddddddd4;
    margin: 0;
    cursor: pointer !important;
}

.custom-file .custom-file-label:after {
    height: auto;
    padding: 10px 15px;
    color: #242424;
}

.parment-info-new {
    margin-top: 30px;
}

.select2-container.select2-container--default .select2-selection--single {
    height: auto;
    padding: 10px 15px;
    padding-right: 25px;
    font-size: 13px;
    color: #242424;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background: #fff url("/assets/frontend/images/arrow.svg") no-repeat right .75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 6px 18px #ddddddd4;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
    font-size: 13px;
    line-height: 1.5;
    color: #242424;
}

.select2-container--open.select2-container .select2-dropdown--below.select2-dropdown {
    border-top: 0 none;
    border-color: #ced4da;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: #fff;
    padding: 5px;
}

.select2-container .select2-dropdown .select2-search {
    border-color: #ced4da;
    padding: 5px;
}

.select2-container .select2-dropdown .select2-search .select2-search__field {
    padding: 5px;
    font-size: 13px;
    color: #242424;
    line-height: 1.5;
    border: 1px solid #ced4da;
}

.select2-container .select2-dropdown .select2-results .select2-results__option {
    padding: 5px;
    font-size: 13px;
    color: #242424;
    line-height: 1.5;
    display: block;
}

.select2-container.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #1C1449;
    color: #fff;
}

.select2-container.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: 0 none;
    color: #242424;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none !important;
}

.bottom-new-box .disclaimer-text {
    padding: 30px 15px;
}

.bottom-new-box p {
    font-size: 12px;
    color: #999;
}

.bottom-new-box p span {
    color: #ff0000;
}

.bottom-new-box p span span {
    color: #999;
}

.bottom-new-box p {
    margin: 0;
}

.bottom-new-box button.button {
    width: auto;
    height: auto;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
}

.multisteps-form .button-box {
    align-items: center;
}

.multisteps-form .button-box p {
    text-align: right;
}


/*------------------------Slick Slider Starts Here------------------*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*---------------------Home Page CSS starts here----------------------*/

.home-section-margin {
    margin-top: 80px;
}

.s-w-p p {
    max-width: 800px;
    margin: auto;
}

.img-slider li {
    display: none;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.img-slider li.slick-slide img {
    display: inline-block;
}

.img-slider .slick-arrow {
    position: absolute;
    top: 50%;
    background-color: #F7A537;
    border: 0 none;
    font-size: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: -18px;
    z-index: 11;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.img-slider .slick-arrow:before {
    font-size: 24px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fff;
    padding: 0;
    vertical-align: middle;
}

.img-slider .slick-arrow.slick-prev {
    left: 0;
}

.img-slider .slick-arrow.slick-prev:before {
    content: "\f053";
}

.img-slider .slick-arrow.slick-next {
    right: 0;
}

.img-slider .slick-arrow.slick-next:before {
    content: "\f054";
}

.innnerWhyUsSec {
    background: url("../images/whyus.png") no-repeat;
    padding: 60px 0;
    background-size: cover;
    background-attachment: fixed;
}

.howWeDoList {
    padding-left: 40px;
}

.howWeDoList li {
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 20px;
}

.howWeDoList li:last-child {
    margin-bottom: 0;
}

form.main-besure-form .bottom-new-box {
    margin-top: 15px;
    margin-bottom: 20px;
}

form.main-besure-form .bottom-new-box button.button {
    padding: 15px 65px;
}


/*---------------Footer css startes here-----------------------*/

footer .inner_footer .container>.row {
    align-items: center;
}

footer .footer-logo {
    max-width: 125px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #212e4a;
}

footer ul.footer-nav {
    justify-content: center;
}

footer ul.footer-nav li {
    font-size: 16px;
    text-transform: uppercase;
}

footer ul.footer-nav li {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

footer ul.footer-nav li:after {
    content: "";
    background: #797979;
    height: 9px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 8px;
}

footer ul.footer-nav li:first-child {
    padding-left: 0;
}

footer ul.footer-nav li:last-child {
    padding-right: 0;
}

footer ul.footer-nav li:last-child:after {
    display: none;
}

footer ul.social-links li {
    font-size: 25px;
    padding: 0 8px;
}

footer ul.social-links li:first-child {
    padding-left: 0;
}

footer ul.social-links li:last-child {
    padding-right: 0;
}

footer .inner_footer {
    background: rgb(246, 247, 249);
    padding: 25px 0;
}

footer .copyrihgt_footer {
    background: rgb(19, 19, 72);
    padding: 15px 0;
}

.copyrihgt_footer p {
    margin: 0;
    color: #fff;
    font-size: 12px;
}


/*************************Responsive css Starts here********************************/

@media (min-width:992px) {
    .affiliates-form .col-xl-auto {
        min-width: 201px;
    }
}

@media screen and (max-width: 1199.98px) {
    .affiliates-form .button.btn_col {
        width: 120px;
    }
}

@media screen and (max-width: 991.98px) {
    .top-header .navbar .navbar-nav {
        background: #fff;
        padding: 20px 0;
        box-shadow: 0px 4px 7px #ddd;
        z-index: 99;
        margin-bottom: 15px;
    }
    .top-header .navbar .navbar-nav li {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .top-header .navbar .navbar-nav li a {
        margin: 5px 0;
    }
    .top-header .navbar .navbar-nav li:hover>ul.dropdown-menu,
    .top-header .navbar .navbar-nav li>ul.dropdown-menu {
        display: block !important;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        border: 0 none;
    }
    .top-header .navbar .navbar-nav li>ul.dropdown-menu li .dropdown-item {
        padding: 0.5rem 0;
        background: 0 none !important;
    }
    .top-header .navbar {
        padding: 15px 30px 0;
    }
    .top-header a.button_roll_link {
        margin-left: 0 !important;
        background: 0 none;
        width: 100%;
        text-align: center;
        height: auto;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        color: #141449;
        transition: 0.3s;
        padding: .5rem 0;
        line-height: 24px;
        margin: 5px 0;
    }
    .top-header a.button_roll_link:hover {
        color: #faa32f;
    }
    .modal-backdrop {
        z-index: 0;
    }
    .top-header .navbar-brand,
    .navbar-toggler {
        margin-bottom: 15px;
        padding: 0;
    }
    section.banner_sec {
        padding: 50px 0;
    }
    .bd_padd {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
    }
    .affiliates-form .form-control {
        margin-bottom: 25px;
    }
    .affiliates-form .button.btn_col {
        margin-top: 0;
    }
    .affiliates-form .col-lg-auto.bottom-button {
        text-align: center;
    }
    .affiliates-form .col-lg-auto.bottom-button button.button {
        width: 50%;
    }
    .banner_sec .banner_text {
        margin-top: 25px !important;
    }
}

@media screen and (max-width: 767.98px) {
    .top-header .navbar {
        padding: 10px 15px 0;
    }
    .howWeDoList li {
        line-height: 26px;
        font-size: 15px;
        margin-bottom: 16px;
    }
    /*---------------------Home Page CSS starts here----------------------*/
    form.main-besure-form .bottom-new-box {
        margin-bottom: 0;
    }
    form.main-besure-form .bottom-new-box button.button {
        padding: 10px 25px;
        width: 100%;
        font-size: 15px;
    }
    .howWeDoList li {
        line-height: 24px;
        font-size: 14px;
    }
    .innnerWhyUsSec {
        padding: 40px 0;
    }
    .home-section-margin {
        margin-top: 60px;
    }
    /*---------------Footer css startes here-----------------------*/
    footer .inner_footer .container>.row>div {
        text-align: center;
        margin-bottom: 20px;
    }
    footer .inner_footer .container>.row>div:last-child {
        margin-bottom: 0;
    }
    footer ul.social-links {
        justify-content: center;
    }
}

@media screen and (max-width: 575.98px) {
    .affiliates-form .col-lg-auto.bottom-button button.button {
        width: 100%;
    }
    .multisteps-form__content {
        padding: 30px 0 20px;
    }
    .parment-info-new {
        margin-top: 15px;
    }
    .bottom-new-box button.button {
        padding: 10px 25px;
        font-size: 14px;
    }
    .bottom-new-box .disclaimer-text {
        padding: 25px 5px;
    }
    .multisteps-form .button-box p {
        text-align: left;
        margin-top: 10px;
    }
}