.card-body.profile-page{display:flex;}
.form-edit{border:none; width: 90%;}
.grid-dashboard{display:flex;}
.profile-tiles{padding:10px 0px 0px 10px;}
.pointerEvent{pointer-events: none;}
.statis .form-edit{width: 50%;float: right; text-align: right;}
.statis .progress{width:100%}
.media-body p{padding:3px 0px;}
.business-phone,.business-office{width:100%;float:left;padding: 5px 0px;}
.imguser{width:90px;height:65px;}
select.form-control{-webkit-appearance: none;margin: 0;} 
div.desc.profile-no h4{padding-bottom:0px;}
.form-borders{border:1px solid #b5b5b5;}
select.form-borders{border:1px solid #b5b5b5;}
input.form-borders{border-radius: 5px;}
input{padding:5px;}
.action-members{float:right}
.redstar{color:red;}

.note-editor.note-frame.panel.panel-default:nth-child(3){display:none;}
select.select-border-true{border:1px solid #d3d4d4;}
img.imgusercard{border-radius:0%;height: 150px;width: 150px;}
.card-img-div{width: 150px;margin: 0px auto;}
.trtd td{ overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.star-indigate{float: right;text-align: right;}
.bio_application_view_page{max-height: 200px;overflow: auto;}
.applicaiton_heading{padding:10px;}
/* .multisteps-form__panel {
    display: none;
}
.multisteps-form__panel.js-active {
    display: block;
} */ 

ul.new_timeline.application_view_page.mt-3 li {
    width: 70%;
    display: inline-block;
} 

div.ui-tooltip {
    max-width: 550px;
}

#associate_application_table_wrapper .dataTables_wrapper thead .sorting_desc:after {
    position: absolute !important;
    right: 5px !important;
    bottom: 5px !important;
    content: "\e92d" !important;
    font-family: 'feather' !important;
}
.dataTables_wrapper thead .sorting_desc:after {
    position: absolute !important;
    right: 10px !important;
    bottom: 5px!important;
    content: "\e92d";
    font-family: 'feather' !important;
}
.dataTables_wrapper thead .sorting_asc:after {
    position: absolute;
    right: 10px !important;
    top: 5px !important;
    content: "\e930";
    font-family: 'feather' !important;}
    
    table.dataTable thead .sorting_asc {
        background-image: url(../images/sort_asc.png);
        background-image: none !important;
    }
    table.dataTable thead .sorting_desc {
        background-image: url(../images/sort_desc.png);
        background-image: none !important;
    }
    table.dataTable thead .sorting {
        background-image: url(../images/sort_both.png);
        background-image: none !important;
    }
    .dataTables_wrapper thead .sorting:after {
        position: absolute;
        right: 10px !important;
        bottom: 5px !important;
        content: "\e92d";
        font-family: 'feather' !important;}
        .dataTables_wrapper thead .sorting:before {
            position: absolute;
            right: 10px !important;
            bottom: 5px !important;
            content: "\e92d";
            font-family: 'feather' !important;}
            .card-body .w_chart canvas {
                display: inline-block;
                width: 63px !important;
                height: 63px !important;
                vertical-align: top;
                background-image: url("http://127.0.0.1:8000/../assets/images/Group2.png") !important;
            }
            .table td, .table th {
                vertical-align: middle !important;
                vertical-align: center !important;
            }
            table.dataTable, table.dataTable th, table.dataTable td {
               
                border: none !important;
            }

            table.dataTable tbody th, table.dataTable tbody td {
                padding: 11px 10px;
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background-color: orange!important;
               
            }
            input{
                border-style:none;
                border:1px solid #E8E9E9;
            }
            .dataTables_wrapper .dataTables_filter {
                color: #bfc1c3 !important;
               
            }
            .dataTables_wrapper .dataTables_info {
                margin-top: 12px !important;
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper 
            .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                margin-top: 12px !important;
            }  

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

                background-color: orange!important;
            }
            .dataTables_wrapper .dataTables_length select {
               border: 1px solid #E8E9E9 !important;
            } 
            body.font-montserrat {
                font-size: 14px !important;}
                .page-header
                {border:none !important;}
                table.dataTable tbody th, table.dataTable tbody td {
                    padding: 12px 10px !important;
                }
                .btn btn-icon btn-sm.fa{
                    margin-left: 20px!important;
                }
                table tbody th, table tbody td {
                   
                    text-align: center !important;}
                    table.dataTable thead th {
                        text-align: center;

                    }
                    .metismenu>li{
                        display: block !important;
                    }
                    .text-muted {
                        color: #6d6b6b!important;
                        padding-top: 7px;
                        font-size: 13px;}
                        td p{color:black!important;}
                        th {color:black !important;}
                        h1.page-title{font-size:22px !important;
                       color:#202121 !important; }
                    
                        
                button.btn-success{
                    margin-left:10px !important;
                }
                      
                span.float-left{
                    margin-top: 10px;
                }
.admin-row-message{border-bottom:1px solid;padding:15px;}
.borderColor{border-color:red !important}
.Employee-view-border input,.Employee-view-border select {border:0px solid;pointer-events: none;}
.Employee-view-border-one {border:1px solid !important;pointer-events: auto !important;}
.spacing-list{padding:20px;}

.member-profile-view input,.member-profile-view select{border: 0px;pointer-events: none;width:100%}

table.dataTable.send_referral td,#associatelist_table.dataTable td{
    border-top: 1px solid #E6E9ED !important;
    border-bottom: 1px solid #E6E9ED !important;
    border-left: 1px solid #E6E9ED !important;
}

table.datatable_custom_bordered tbody td {
    text-align: center !important;
}
.datatable_custom_bordered.table td, .datatable_custom_bordered.table th 
{
    padding: .75rem !important;
    vertical-align: middle !important;
    font-size: 14px !important;
}
.datatable_custom_bordered.table.table_custom tr th, .datatable_custom_bordered.table.table_custom tr td 
{
    border: 0 !important;
}
.datatable_custom_bordered.table.table_custom.border-style tr td 
{
    border-top: 1px solid #E6E9ED !important;
    border-bottom: 1px solid #E6E9ED !important;
    border-left: 1px solid #E6E9ED !important;
}
.datatable_custom_bordered.table.table_custom tr th:first-child, .datatable_custom_bordered.table.table_custom tr td:first-child 
{
    border-radius: .55rem 0 0 .55rem !important;
}
